@model CreateTeacherSocialDto

@{
    ViewData["Title"] = "Yeni Hesap Oluşturma";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<form method="post">
    <label>Sosyal Medya Adı</label>
    <input asp-for="Name" type="text" class="form-control" />
    <br />
    <label>Url</label>
    <input asp-for="Url" type="text" class="form-control" />
    <br />
    <label>İkon</label>
    <input asp-for="Icon" type="text" class="form-control" />
    <br />
    <button class="btn btn-outline-primary">Kaydet</button>
</form>

