@model UpdateBlogDto

@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="BlogId" />
    <input type="hidden" asp-for="BlogDate"/>
    <input type="hidden" asp-for="WriterId"/>
    <label>Blog Başlığı</label>
    <input type="text" asp-for="Title" class="form-control" />
    <br />
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Kategori</label>
    <select asp-items="@ViewBag.categories" asp-for="BlogCategoryId" class="form-control">
        <option>Kategori Seçin</option>
    </select>
    <br />
    <label>İçerik</label>
    <textarea type="text" asp-for="Content" class="form-control" rows="5"></textarea>
    <br />

    <button class="btn btn-outline-success">Oluştur</button>
</form>

