@model UpdateCourseDto

@{
    ViewData["Title"] = "Kursu Güncelle";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="CourseId"/>
    <input type="hidden" asp-for="IsShown" />
	<input type="hidden" asp-for="AppUserId" />
    <label>Kurs Adı</label>
    <input type="text" asp-for="CourseName" class="form-control" />
    <br />
    <label>Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <br />
    <label>Kategori</label>
    <select asp-items="@ViewBag.categories" asp-for="CourseCategoryId" class="form-control">
        <option>Kategorı Seçin</option>
    </select>
    <br />
    <label>Kurs Ücreti</label>
    <input type="decimal" asp-for="Price" class="form-control" />
    <br />

    <button class="btn btn-outline-success">Kaydet</button>
</form>

